---
import { getCollection, getEntry } from 'astro:content';

let allRecipes = await getCollection('recipes');
---

<h1>Recipes</h1>

<ul>
  {allRecipes.map((recipe) => (
	<li>
	  <a href={`/recipes/${recipe.slug}`}>{recipe.data.title}</a>
	</li>
  ))}
</ul>