---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import RecipeCard from '../../features/recipes/RecipeCard.astro';

let allRecipes = await getCollection('recipes');

function alphabeticallyByTitle(a, b) {
  return a.data.title.localeCompare(b.data.title, 'sv');
}
---

<Layout>
  <section>
    <h1>Recept</h1>

    <ul>
      {allRecipes
        .sort(alphabeticallyByTitle)
        .map((recipe) => (
          <li>
            <RecipeCard slug={recipe.data.slug} title={recipe.data.title} tags={recipe.data.tags} />
          </li>
        ))}
    </ul>
  </section>
</Layout>

<style>
    section {
        padding: 1rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul > li {
        margin: var(--spacing-md) 0;
    }
</style>
