---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

let allRecipes = await getCollection('recipes');
---

<Layout>
  <section>
    <h1>Recipes</h1>

    <ul>
      {allRecipes
        .sort((a, b) => a.data.title.localeCompare(b.data.title, 'sv'))
        .map((recipe) => (
        <li>
          <a href={`/recipes/${recipe.data.slug}`}>{recipe.data.title}</a>
        </li>
      ))}
    </ul>
  </section>
</Layout>

<style>
  section {
      padding: 1rem;
  }
  
  ul {
      list-style: none;
  }
  
  ul > li > a {
      text-decoration: none;
  }
  
</style>
