:root {
  /* Light theme */
  --bg-color: #fff;
  --text-color: #333;
  --link-color: var(--text-color);
  --surface-text-color: #fff;
  --surface-color: #ff6347;
  --surface-border: #ff6347;
  
  --black: #333;
}

body.dark-theme {
  --bg-color: #001f3f;
  --text-color: #ddd;
  --link-color: var(--text-color);
  --surface-text-color: #3d9970;
  --surface-color: #203c57;
  --surface-border: #3a8964;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #001f3f;
    --text-color: #ddd;
    --link-color: var(--text-color);
    --surface-text-color: #3d9970;
    --surface-color: #203c57;
    --surface-border: #3a8964;

    --black: #333;
  }

  body.light-theme {
    --bg-color: #fff;
    --text-color: #333;
    --link-color: var(--text-color);
    --surface-text-color: #fff;
    --surface-color: #ff6347;
    --surface-border: #ff6347;
  }
}
