---
let { availableTags, id, eventName } = Astro.props;
---

<dialog id={id} closedby="any">
  <form method="dialog">
    {availableTags.map((tag, index) => (
      <button autofocus={index === 0} value={tag}>{tag}</button>
    ))}
    <button value="">Rensa filter</button>
  </form>
</dialog>

<script define:vars={{ dialogId: id, eventName }}>
  let dialogElem = document.getElementById(dialogId);

  dialogElem.addEventListener('click', function handleCLick(event) {
    let value = event.target.value;
    let filterEvent = new CustomEvent(eventName, { detail: { value } });
    dialogElem.dispatchEvent(filterEvent);
  });

  dialogElem.addEventListener('close', function handleClose() {
    document.body.classList.remove('no-scroll');
  });
</script>

<style>
    dialog {
        margin: unset;
        position: relative;
        width: 100%;
        display: flex;
        align-self: center;
        justify-self: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        width: 100%;
    }
    
    button {
        all: unset;
        cursor: pointer;
        padding: var(--spacing-lg);
        border: var(--thin) solid var(--black);
    }
</style>
