---
import FoodIcon from './FoodIcon.astro';
let { title, slug, tags } = Astro.props;
---

<article>
  <div class="background">
    <a href={`/recipes/${slug}`}>{title}</a>
  </div>
  <hr />
  <div class="dots-container">
    <div class="left-dots-column">
      <p>Ingredienser:</p>
      <div class="line" />
      <div class="line" />
      <div class="line" />
      <div class="line" />
      <div class="line" />
      <div class="line" />
    </div>
    <div class="right-dots-column">
      <p>Gör så här:</p>
      <div class="line" />
      <div class="line" />
      <div class="line" />
      <div class="line" />
      <div class="line" />
      <div class="line" />
    </div>
  </div>
  <div class="bottom-line">
    <div class="left-bottom-line">
      <div class="solid-line" />
    </div>
    <FoodIcon class="middle" />
    <div class="right-bottom-line">
      <div class="solid-line" />
    </div>
  </div>
  <dl class="tags-list">
    <dt>Typ av rätt:</dt>
    <dd>{tags.join(', ')}</dd>
  </dl>
</article>

<style>
    article {
        border: var(--thick) solid var(--black);
        padding: var(--spacing-sm);
    }

    .background {
        background-color: var(--secondary-surface-color);
        padding: 1rem var(--spacing-sm);
    }

    a {
        text-decoration: none;
        color: var(--secondary-surface-text-color);
        font-size: 1.625rem;
    }

    hr {
        height: var(--thick);
        background-color: var(--black);
        border: none;
        margin-top: 0;
    }

    .dots-container {
        display: flex;
        width: 100%;
        gap: var(--spacing-lg);
        padding: 1rem;
    }

    p {
        font-size: 0.625rem;
        margin: 0;
    }

    .left-dots-column {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        width: 50%;
    }

    .right-dots-column {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        width: 50%
    }

    .bottom-line {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
    }

    .left-bottom-line {
        display: flex;
        flex-grow: 0.5;
    }

    .right-bottom-line {
        display: flex;
        flex-grow: 0.5;
    }

    .middle {
        flex-grow: 0;
    }

    .line {
        width: 100%;
        border-bottom: var(--thin) dashed var(--black);
    }

    .solid-line {
        width: 100%;
        border-bottom: var(--thick) solid var(--black);
    }

    .tags-list {
        color: var(--secondary-surface-text-color);
    }
    
    .tags-list > dt {
        font-size: 0.625rem;
        font-weight: 700;
    }
    
    .tags-list > dd {
        font-size: 0.875rem;
    }
</style>