---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

let allPreparations = await getCollection('preparations');
---

<Layout>
  <section>
    <h1>Förberedelser</h1>

    <ul class="prep-list">
      {allPreparations.map((preparation) => (
        <li>
          <a class="prep-link" href={`/preparations/${preparation.data.slug}`}>{preparation.data.title}</a>
        </li>
      ))}
    </ul>
  </section>
</Layout>

<style>
    section {
        padding: 1rem;
    }

    .prep-list {
        gap: var(--spacing-lg);
        display: flex;
        flex-direction: column;
    }

    .prep-link {
        color: var(--secondary-surface-text-color);
        font-size: 1.625rem;
    }
</style>
