---
// ...
---

<header>
	<nav>
		<a href="/recipes">Recept</a>
        <a href="/preparations">Förberedelser</a>
	</nav>
</header>

<style>
	<header> {
		background-color: darksalmon;
		padding: 1rem;
	}
</style>
