---
// ...
---

<header>
	<nav>
		<a href="/recipes">Recept</a>
        <a href="/preparations">Förberedelser</a>
	</nav>
</header>

<style>
	header {
		background-color: #ff6347;
		color: #fff;
		padding: 1rem;
	}
</style>
